@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(/assets/6076956.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#container {
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  opacity: 0.3;
}
/* dados */
.dados {
  border: 1px solid white;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  margin: 150px;
  background-image: url(/assets/dados.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
.candidato {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
input[type="text"] {
  padding: 5px;
  border-radius: 10px;
  border: none;
  max-width: 200px;
  text-indent: 10px;
}
input[type="text"]::placeholder {
    color: black;
    text-indent: 10px;
}
#btn-init {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
  background-color: black;
  font-family: "Single Day", cursive;
  font-size: 2vh;
}
.start {
  color: white;
  font-family: "Single Day", cursive;
  font-size: 3vh;
}
.mensagem {
  color: rgb(252, 3, 3);
  font-size: 2vh;
  text-shadow: 2px 2px 35px rgb(255, 5, 5);
  background-color: white;
}
/* header */
header {
  border: 1px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Merienda", cursive;
}
h2 {
  color: white;
  font-family: "Cabin Sketch", sans-serif;
}
.pontuacao {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
  margin-right: 10px;
}
h3 {
  margin: 0;
  color: white;
}
span {
  color: white;
}
/* Sections */
.sections {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.secound {
  display: none;
}

.questions {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.A1 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.A4 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: rgb(60, 255, 0);
  border-radius: 50%;
  
}

label {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: auto;
  color: white;
  font-family: "Cabin Sketch", sans-serif;
}

/* footer */
footer {
  width: 100%;
}
.btns {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#previus {
  opacity: 0;
}